.btn{
    border: none;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    padding: 0.5rem 1.25rem;
    font-weight: 400;
}

/* Sizes */
.btn-small{
    font-size: small;
}

.btn-medium{
    font-size: medium;
}

.btn-large{
    font-size: large;
}

/* Styles */
.btn-round-blue, .btn-round-red{
    color: var(--text-colour-btn);
    border-radius: 1.625rem;
    transition: all 0.3s ease-in;
}

.btn-round-blue{
    background-color: var(--accent-colour);
    border: 0.0625rem solid var(--accent-colour);
}

.btn-round-red{
    background-color: var(--error-colour);
    border: 0.0625rem solid var(--error-colour);
}

.btn-round-blue:hover, .btn-round-blue:hover{
    transition: all 0.3s ease-out;
    transition-timing-function: ease-out;
}

.btn-round-blue:hover{
    background: var(--accent-colour-alt);
    color: var(--text-colour-btn-alt);
}

.btn-round-red:hover{
    background: var(--primary-colour);
    color: var(--error-colour);
}

.btn-text-blue{
    color: var(--text-colour-btn-alt);
}

.btn-text-selected{
    background-color: var(--accent-colour);
    border-radius: 2rem;
    color: var(--text-colour-dark-alt);
    text-decoration: underline;
}