.edit-text{
    appearance: none;
    outline: none;
    box-sizing: border-box;
    padding: 1rem;
}

.font-large{
    font-size: large;
}

.font-medium{
    font-size: medium;
}

.edit-text-light{
    color: var(--text-colour);
    background-color: var(--primary-colour);
    border: 0.1rem solid var(--quaternary-colour);
    border-radius: 1.625rem;
    transition: 0.8s;
}

.edit-text-light:hover, .edit-text-light:focus, .edit-text-blue:active{
    border: 0.1rem solid var(--accent-colour);
}

.edit-text-error{
    color: var(--text-colour);
    background-color: var(--primary-colour);
    border: 0.1rem solid var(--error-colour);
    border-radius: 1.625rem;
    transition: 0.8s;
}



