:root{
    --primary-colour: #FFF;
    --secondary-colour: #FFCC00;
    --tetiary-colour: #b3b3b35d;
    --quaternary-colour: #1a1a1a;
    --accent-colour: #256CE1;
    --error-colour: rgb(226, 35, 35);
    --text-colour: var(--quaternary-colour);
    --text-colour-btn: var(--primary-colour);
    --text-colour-btn-alt: var(--accent-colour);

}