:root{
    --primary-colour: #FFF;
    --secondary-colour: #FFCC00;
    --tetiary-colour: #A6A6A6;
    --quaternary-colour: #191919;
    --accent-colour: #256CE1;
    --accent-colour-alt: var(--primary-colour);
    --text-colour: var(var(--quaternary-colour));
    --text-colour-alt: var(--tetiary-colour);
    --text-colour-btn: var(--primary-colour);
    --text-colour-btn-alt: var(--accent-colour);

}